<head>
    <title>Typography | Aquitaine</title>
    <link rel="stylesheet" type="text/css" media="all"    href="http://ec2-46-137-74-84.eu-west-1.compute.amazonaws.com/public/fontface/themes/aquitaine/style.css" />
    <link rel="stylesheet" type="text/css"                href="http://ec2-46-137-74-84.eu-west-1.compute.amazonaws.com/public/fontface/themes/aquitaine/styles/01_red.css" />
    <link rel="shortcut icon"                             href="http://ec2-46-137-74-84.eu-west-1.compute.amazonaws.com/public/fontface/themes/aquitaine/images/favicon.ico" />

    <script type='text/javascript' src='http://ec2-46-137-74-84.eu-west-1.compute.amazonaws.com/public/fontface/js/jquery-1.6.1.min.js'></script>
    <script type='text/javascript' src='http://ec2-46-137-74-84.eu-west-1.compute.amazonaws.com/public/fontface/themes/aquitaine/js/custom.js?ver=3.1.3'></script>

    <style type="text/css">
        body {
            background-color: #fff;
            background-image: url('http://ec2-46-137-74-84.eu-west-1.compute.amazonaws.com/public/fontface/themes/aquitaine/images/top_decoration.png');
            background-repeat: repeat-x;
            background-position: top center;
            background-attachment: scroll;
            font-size: 16px;
        }
    </style>

    <style type="text/css">
        .inner-content {margin:0 56px 0 0;}

        .box h4 {
            font-weight: normal;
        }
    </style>
</head>

<div class="htop-wrapper" id="backtop">
    <div font-control-panel></div>
    <div class="htop">
        <div id="logo">
            <a href="http://goldenworks.ro/demos/aq_wordpress"><img src="http://ec2-46-137-74-84.eu-west-1.compute.amazonaws.com/public/fontface/themes/aquitaine/images/logo.png" alt="Aquitaine" /></a>
        </div>
        <div id="menu-wrapper">
            <div class="menu-1_header-container">
                <ul id="menu-1_header" class="sf-menu">
                    <li id="menu-item-1112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1112">
                        <a href="">Home</a>
                    </li>
                    <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17">
                        <a>Pages</a>
                        <ul class="sub-menu">
                            <li id="menu-item-1110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1110">
                                <a href="alternate-homepage-1/">Alternate Homepage 1</a>
                            </li>
                            <li id="menu-item-1111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1111">
                                <a href="homepage-2/">Alternate Homepage 2</a>
                            </li>
                            <li id="menu-item-1116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1116">
                                <a href="portfolio-3/">Portfolios &#194;&#187;</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-1118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1118">
                                        <a href="portfolio-1/">Portfolio 1</a>
                                    </li>
                                    <li id="menu-item-1115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1115">
                                        <a href="portfolio-2/">Portfolio 2</a>
                                    </li>
                                    <li id="menu-item-1114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1114">
                                        <a href="portfolio-3/">Portfolio 3</a>
                                    </li>
                                    <li id="menu-item-1117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1117">
                                        <a href="portfolio-4/">Portfolio 4</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-1094" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1094">
                                <a href="services/">Services</a>
                            </li>
                            <li id="menu-item-1095" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1095">
                                <a href="services-with-sidebar/">Services with sidebar</a>
                            </li>
                            <li id="menu-item-1096" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1096">
                                <a href="testimonials/">Testimonials</a>
                            </li>
                            <li id="menu-item-1097" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1097">
                                <a href="testimonials-with-sidebar/">Testimonials with sidebar</a>
                            </li>
                            <li id="menu-item-1107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1107">
                                <a href="our-team/">Our team</a>
                            </li>
                            <li id="menu-item-1092" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1092">
                                <a href="archive_page/">Archive page</a>
                            </li>
                            <li id="menu-item-1100" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1100">
                                <a href="blog/">Blog</a>
                            </li>
                            <li id="menu-item-1163" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1163">
                                <a href="upgrade-to-latest-firefox-4/">Blog detail</a>
                            </li>
                            <li id="menu-item-1108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1108">
                                <a href="tabular-data/">Tables</a>
                            </li>
                            <li id="menu-item-1106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1106">
                                <a href="price-tables/">Pricing tables</a>
                            </li>
                            <li id="menu-item-1099" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1099">
                                <a href="contact/">Contact</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-18">
                        <a>Shortcodes</a>
                        <ul class="sub-menu">
                            <li id="menu-item-1098" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-342 current_page_item menu-item-1098">
                                <a href="typography/">Typography</a>
                            </li>
                            <li id="menu-item-1104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1104">
                                <a href="lists/">Lists and interior columns</a>
                            </li>
                            <li id="menu-item-1101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1101">
                                <a href="tabs-accordion-and-toggles/">Tabs, accordion and toggles</a>
                            </li>
                            <li id="menu-item-1102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102">
                                <a href="content-columns/">Content Columns</a>
                            </li>
                            <li id="menu-item-1113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1113">
                                <a href="any-width-any-height/">Any width any height</a>
                            </li>
                            <li id="menu-item-1103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103">
                                <a href="images-and-videos/">Images and videos</a>
                            </li>
                            <li id="menu-item-1105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1105">
                                <a href="special-buttons/">Special buttons</a>
                            </li>
                            <li id="menu-item-1109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1109">
                                <a href="google-charts/">Google Charts</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-1091" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1091">
                        <a href="blog/">Blog</a>
                    </li>
                    <li id="menu-item-1093" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1093">
                        <a href="contact/">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="content-wrapper">
<div class="content">
<div class="gw-intro">
    <h1>
        Typography
    </h1>
    <div class="intro">
        <p>
            Hi and welcome to the typography page, along with different other elements that embed, separate or enhance the texts of this awesome theme.
        </p>
    </div>
    <div class="line"></div>
</div>
<div class="inner-content">
<h2>
    This is heading 2
</h2>
<p>
    Ex aliquip suavitate nec, dico mundi sadipscing ea nec. Et has enim tractatos sententiae. Harum labore ne quo, recusabo consulatu in duo, vim agam voluptaria eu. Cu commodo ornatus molestiae mel, per at autem saepe hendrerit. In elit tantas eam.
</p>
<div class="line"></div>
<h3>
    This is heading 3
</h3>
<p>
    Ex aliquip suavitate nec, dico mundi sadipscing ea nec. Et has enim tractatos sententiae. Harum labore ne quo, recusabo consulatu in duo, vim agam voluptaria eu. Cu commodo ornatus molestiae mel, per at autem saepe hendrerit. In elit tantas eam.
</p>
<div class="line"></div>
<h4>
    This is heading 4
</h4>
<p>
    Ex aliquip suavitate nec, dico mundi sadipscing ea nec. Et has enim tractatos sententiae. Harum labore ne quo, recusabo consulatu in duo, vim agam voluptaria eu. Cu commodo ornatus molestiae mel, per at autem saepe hendrerit. In elit tantas eam.
</p>
<div class="line"></div>
<h5>
    This is heading 5
</h5>
<p>
    Ex aliquip suavitate nec, dico mundi sadipscing ea nec. Et has enim tractatos sententiae. Harum labore ne quo, recusabo consulatu in duo, vim agam voluptaria eu. Cu commodo ornatus molestiae mel, per at autem saepe hendrerit. In elit tantas eam.
</p>
<div class="line"></div>
<h6>
    This is heading 6
</h6>
<p>
    Ex aliquip suavitate nec, dico mundi sadipscing ea nec. Et has enim tractatos sententiae. Harum labore ne quo, recusabo consulatu in duo, vim agam voluptaria eu. Cu commodo ornatus molestiae mel, per at autem saepe hendrerit. In elit tantas eam. No mei melius albucius ocurreret.
</p>
<div class="line"></div>
<h3>
    Intro text
</h3>
<div class="intro">
    <p>
        Ne oblique patrioque quo, veri bonorum recusabo est ex. Cu imperdiet definiebas vel, ei cum paulo latine, ullum ridens voluptatum ne eos. Dico quot cotidieque vix in, usu propriae antiopam mnesarchum ne.
    </p>
</div>
<h5 class="toggle">
    <a href="#">Get the code</a>
</h5>
<div class="toggle-content">
    <div class="block">
            <pre>
              [intro]
              <br />Ne oblique patrioque quo, veri bonorum recusabo est ex. Cu imperdiet definiebas vel, ei cum paulo latine, ullum ridens voluptatum ne eos. Dico quot cotidieque vix in, usu propriae antiopam mnesarchum ne. Quo no dolorum accommodare definitionem, alia ludus indoctum ei vel, an eam omnesque dissentias vituperatoribus.
              [/intro]
            </pre>
    </div>
</div>
<div class="toggle-space"></div>
<div class="white-space" style="height:24px"></div>
<h3>
    Message boxes
</h3>
<div class="greenbox">
    A nicely styled green box is used for a <a href="#">confirmation or a success</a> message. In this example a message with a link is also shown.
</div>
<div class="bluebox">
    Using this blue box, you can inform your visitors about different things that are happening on your site. In this example a message with a link is also <a href="#">illustrated</a>.
</div>
<div class="yellowbox">
    Welcome to my warning shortcode box. So this is a rather longer yellow warning or notification box that contains 2 rows of text with a longer link too: <a href="#">as it can be observed here</a>.
</div>
<div class="redbox">
    And the last one is a box suitable for all kinds of error messages. Let's keep it clean and don't forget about <a href="#">possible links occurrences</a> around here.
</div>
<h5 class="toggle">
    <a href="#">Get the code</a>
</h5>
<div class="toggle-content">
    <div class="block">
            <pre>
              [greenbox]highlighted text goes here[/greenbox]
              [bluebox]highlighted text goes here[/bluebox]
              [yellowbox]highlighted text goes here[/yellowbox]
              [redbox]highlighted text goes here[/redbox]
            </pre>
    </div>
</div>
<div class="toggle-space"></div>
<div class="clearboth"></div>
<div class="white-space" style="height:34px"></div>
<h3>
    Text highlight examples
</h3>
<p>
    No less than 5 highlight modes are at your disposal.
</p>
<p>
    Harum salutandi sit ei, <span class="highlight1">cum ut esse nemore reprimique</span>, te iuvaret ocurreret vis. At posse equidem duo, mea offendit probatus recusabo ne, nostro consequat cu usu. Eam saperet torquatos efficiantur te, <span class="highlight2">mea civibus volumus omittam ad</span>, dico vidisse at eum. Est <span class="highlight3">saperet inermis luptatum ea</span>, doming facilisi platonem vel ut, te ubique eirmod facilisi usu. Mel mazim platonem eu, ad contentiones
    delicatissimi vim.
</p>
<p>
    Est ipsum inimicus id, <span class="highlight4">cu natum sensibus expetenda</span> duo. Sonet aperiri ei nam, suas disputando ut ius. <span class="highlight5">Nec sint graeco salutandi at</span>, cu tollit disputationi duo. Ei usu equidem molestie tractatos, eam at dicta populo verterem.
</p>
<h5 class="toggle">
    <a href="#">Get the code</a>
</h5>
<div class="toggle-content">
    <div class="block">
            <pre>
              [highlight1]highlighted text goes here[/highlight1]
              [highlight2]highlighted text goes here[/highlight2]
              [highlight3]highlighted text goes here[/highlight3]
              [highlight4]highlighted text goes here[/highlight4]

              [highlight5]highlighted text goes here[/highlight5]
            </pre>
    </div>
</div>
<div class="toggle-space"></div>
<div class="white-space" style="height:34px"></div>
<h3>
    Preformatted text
</h3>
        <pre>
          .author-wrapper {
            margin-top:12px;
            padding-bottom:8px;
          }
          .author-content {
            border:1px solid #e4e4e4;
          }
          .author-wrapper h6 {
            padding:0 0 8px 0;
          }
        </pre>
<h5 class="toggle">
    <a href="#">Get the code</a>
</h5>
<div class="toggle-content">
    <div class="block">
            <pre>
              [pre]your code goes here[/pre]
            </pre>
    </div>
</div>
<div class="toggle-space"></div>
<div class="white-space" style="height:34px"></div>
<h3>
    Text inside blockquote
</h3>
<blockquote>
    <p>
        <span class="quote-design">&#8220;</span>
    </p>
    <p>
        Ex eam propriae nominati platonem, alii nibh mediocrem vim ad. Eum dictas manda te. Id mel justo dicant pertinax, an probo feugiat alienum pro. Usu ei semper iisque integre, falli insolens duo ea. Ei facer sonet mollis usu, nostrud sententiae referrentur sed ea, ex aeterno urbanitas eum. Partiendo sententiae omittantur eu usu.
    </p>
</blockquote>
<h5 class="toggle">
    <a href="#">Get the code</a>
</h5>
<div class="toggle-content">
    <div class="block">
            <pre>
              [blockquote]your quoted text goes here[/blockquote]
            </pre>
    </div>
</div>
<div class="toggle-space"></div>
<div class="white-space" style="height:34px"></div>
<h3>
    Pullquotes
</h3>
<p>
    Erant utroque platonem id vim, ea sumo ubique qui. Cu alia ludus noluisse vis, etiam aperiri eu mel, ne sea impetus saperet epicuri. Ad qui numquam mandamus, ne iusto singulis has, iuvaret fierent instructior te duo. Has timeam feugait at. Cetero delectus sed eu. Etiam adipisci nec te, prima electram per ex. Doctus recteque no qui.
</p>
<p>
    <span class="pullquote-left"><span class="quote-design">&#8220;</span>Graeci pertinacia abhorreant cum ad, meis inani vivendum no quo, ne dico nonumes deserunt has. Eum ei eius aliquando, mel et fugit.</span>Eam suas quodsi ei. Meis harum pro ut, iudico consulatu cum in, quodsi feugait liberavisse no vel. Cu bonorum sapientem mel, vix no mediocrem forensibus delicatissimi. Imperdiet dignissim eos ad, ferri dicit temporibus vel in. Malis errem invidunt id duo. Eu eum justo iriure.
</p>
<p>
    Mutat oblique eu vis, has ut labores scaevola consequat. Eum assum consequuntur an, insolens qualisque adolescens cu vim, ius clita dignissim appellantur an. His ex alia falli invenire. An ius mollis evertitur. Ei sea volumus percipit. Vis vidit facete temporibus ut.
</p>
<p>
    Ius sadipscing contentiones et. Tamquam maluisset quaerendum sit at, te aperiam necessitatibus vix. An oratio iudicabit mel, sed feugiat ceteros repudiandae et. Vix audiam tamquam meliore ne. Sale reque semper mel ei, sint prima ex nec. Ut nec vidit efficiendi liberavisse, has ut omnes repudiandae.
</p>
<p>
    <span class="pullquote-right"><span class="quote-design">&#8220;</span>Ne quod nusquam iracundia eum, utinam expetenda honestatis ex sit, et molestie qualisque cum. Ad inani constituto consetetur eos, et ius delicata vituperatoribus.</span>Nibh corrumpit repudiare vis eu, et expetenda vulputate interpretaris vis. Sed id quod blandit perfecto, cu eam omnes scaevola. Pro postea putent ei. Ne alia novum usu, an pro simul ancillae similique, eos ea soleat explicari theophrastus. In
    erant semper disputationi ius, puto iudico omnesque his at.
</p>
<p>
    Ignota audire cu duo, sit dicat placerat quaerendum ea, mei ex verterem expetendis. Regione conceptam adolescens nam ea. Sonet iriure patrioque ea sit, nam an equidem menandri sapientem. Feugait phaedrum efficiendi usu an, putent tibique duo ne. Exerci consetetur usu ei. At dolores adipisci consectetuer cum, ea modus nullam instructior quo.
</p>
<h5 class="toggle">
    <a href="#">Get the code</a>
</h5>
<div class="toggle-content">
    <div class="block">
            <pre>
              [pullquote_left]text inside pullquote[/pullquote_left]
            </pre>
            <pre>
              [pullquote_right]text inside pullquote[/pullquote_right]
            </pre>
    </div>
</div>
<div class="toggle-space"></div>
<div class="white-space" style="height:30px"></div>
<h3>
    Line shortcode
</h3>
<p>
    Creates a simple line separator as shown below:
</p>
<div class="line"></div>
<h5 class="toggle">
    <a href="#">Get the code</a>
</h5>
<div class="toggle-content">
    <div class="block">
            <pre>
              [line]
            </pre>
    </div>
</div>
<div class="toggle-space"></div>
<div class="white-space" style="height:30px"></div>
<h3>
    Dotted line shortcode
</h3>
<p>
    Creates a dotted line that can be used to separate content.
</p>
<div class="dotted-line"></div>
<h5 class="toggle">
    <a href="#">Get the code</a>
</h5>
<div class="toggle-content">
    <div class="block">
            <pre>
              [dotted_line]
            </pre>
    </div>
</div>
<div class="toggle-space"></div>
<div id="comments">
    <!-- If comments are closed. -->
</div>
</div>
<div class="sidebar">
    <div id="gw-blog-3" class="box widget widget_gw_blog">
        <h4 class="widgettitle">
            Latest from blog
        </h4>
        <ul class="sblog-list">
            <li>
                <div class="sblog-date">
                    May 2, 2011
                </div><a href="http://goldenworks.ro/demos/aq_wordpress/an-indepth-analysis-of-18th-century-time-travel-machine/" rel="bookmark" title="An indepth analysis of 18th century time travel machine">An indepth analysis of 18th century time travel machine</a>
            </li>
            <li>
                <div class="sblog-date">
                    April 27, 2011
                </div><a href="http://goldenworks.ro/demos/aq_wordpress/ester-liquori/" rel="bookmark" title="Ester Liquori">Ester Liquori</a>
            </li>
            <li>
                <div class="sblog-date">
                    April 16, 2011
                </div><a href="http://goldenworks.ro/demos/aq_wordpress/the-difference-between-man-and-machine/" rel="bookmark" title="The difference between man and machine">The difference between man and machine</a>
            </li>
            <li>
                <div class="sblog-date">
                    April 3, 2011
                </div><a href="http://goldenworks.ro/demos/aq_wordpress/positive-money-solutions-business-cards/" rel="bookmark" title="Positive money solutions business cards">Positive money solutions business cards</a>
            </li>
            <li>
                <div class="sblog-date">
                    March 26, 2011
                </div><a href="http://goldenworks.ro/demos/aq_wordpress/space-superiority-gtva-fighter/" rel="bookmark" title="Ascending into Eternity">Ascending into Eternity</a>
            </li>
        </ul>
    </div>
    <div id="search-4" class="box widget widget_search">
        <form role="search" method="get" id="searchform" action="http://goldenworks.ro/demos/aq_wordpress/">
            <div>
                <label class="screen-reader-text" for="s">Search for:</label> <input type="text" value="" name="s" id="s" /> <input type="submit" id="searchsubmit" value="Search" />
            </div>
        </form>
    </div>
    <div id="flickr-3" class="box widget flickr-widget">
        <h4 class="widgettitle">
            Flickr Showcase
        </h4>
        <div class="flickr-wrapper">
            <!-- <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=m&amp;layout=x&amp;source=user&amp;user=52617155"></script> -->
        </div>
    </div>
    <div id="gw-login-4" class="box widget widget_gw-login">
        <h4 class="widgettitle">
            Site login
        </h4>
        <ul class="loginwidget-list">
            <li>
                <form action="http://goldenworks.ro/demos/aq_wordpress/wp-login.php" method="post">
                    <fieldset>
                        <div class="wlogin-block">
                            <label for="log">User</label> <input type="text" name="log" id="log" value="" size="20" />
                        </div>
                        <div class="wlogin-block">
                            <label for="pwd">Password</label> <input type="password" name="pwd" id="pwd" size="20" />
                        </div>
                        <div class="wlogin-block">
                            <input type="submit" name="submit" value="Login" class="button" /> <label for="rememberme" class="wlogin-checklabel"><input name="rememberme" id="rememberme" type="checkbox" checked="checked" value="forever" class="wlogin-checkbox" />Remember me</label>
                        </div><input type="hidden" name="redirect_to" value="/demos/aq_wordpress/typography/" />
                    </fieldset>
                </form>
            </li>
            <li>
                <a href="http://goldenworks.ro/demos/aq_wordpress/wp-login.php?action=lostpassword">Recover password</a>
            </li>
        </ul>
    </div>
</div>
</div>
</div>
<div class="twitter-topsection"></div>
<div class="twitter-section">
    <div class="twitter-section-wrapper">
        <div class="tsw-fix">
            <div class="twitter-section-icon"></div>
        </div>
    </div>
</div>

<!-- start footer -->
<div id="footer">
    <div id="footer-wrapper">
        <!-- start footer widgets -->
        <div class="ffour-wrapper">
            <div id="text-2" class="fbox widget_text">
                <h6>
                    Get in touch
                </h6>
                <div class="textwidget">
                    <img src="http://ec2-46-137-74-84.eu-west-1.compute.amazonaws.com/public/fontface/themes/aquitaine/images/en_map.png" alt="Our location map" class="fmap" />
                    <div class="address-wrapper">
                        <strong>United Kingdom</strong><br />
                        27 Featherstone Street<br />
                        London, EC1Y 8SY<br />
                        <a href="mailto:office@@aquitaine.com">office@@aquitaine.com</a>
                    </div><span class="gray-arrowlink"><a href="contact/">more info</a></span>
                </div>
            </div>
            <div id="gw-socialmedia-2" class="fbox widget_gw-socialmedia">
                <h6>
                    Connect with us!
                </h6>
                <p>
                    Don't hesitate to connect with us on your favourite social networks:
                </p>
                <ul class='fconnect'>
                    <li class="flist-twitter">
                        <a href="http://twitter.com">Twitter</a>
                    </li>
                    <li class="flist-facebook">
                        <a href="http://facebook.com">Facebook</a>
                    </li>
                    <li class="flist-linkedin">
                        <a href="http://linkedin.com">Linkedin</a>
                    </li>
                    <li class="flist-rss">
                        <a href="http://rss.com">RSS</a>
                    </li>
                </ul>
            </div>
            <div id="gw-blog-4" class="fbox widget_gw_blog">
                <h6>
                    Latest from blog
                </h6>
                <ul class="sblog-list">
                    <li>
                        <div class="sblog-date">
                            May 2, 2011
                        </div><a href="an-indepth-analysis-of-18th-century-time-travel-machine/" rel="bookmark" title="An indepth analysis of 18th century time travel machine">An indepth analysis of 18th century time travel machine</a>
                    </li>
                    <li>
                        <div class="sblog-date">
                            April 27, 2011
                        </div><a href="ester-liquori/" rel="bookmark" title="Ester Liquori">Ester Liquori</a>
                    </li>
                    <li>
                        <div class="sblog-date">
                            April 16, 2011
                        </div><a href="the-difference-between-man-and-machine/" rel="bookmark" title="The difference between man and machine">The difference between man and machine</a>
                    </li>
                    <li>
                        <div class="sblog-date">
                            April 3, 2011
                        </div><a href="positive-money-solutions-business-cards/" rel="bookmark" title="Positive money solutions business cards">Positive money solutions business cards</a>
                    </li>
                </ul>
            </div>
            <div id="text-3" class="fbox widget_text">
                <h6>
                    About Aquitaine
                </h6>
                <div class="textwidget">
                    <p>
                        Ut natum labitur fastidii mel, et sit aliquyam deterruisset. Id sit modus facete. Ea reque intellegam definitionem quo. At mel facer cotidieque.
                    </p>
                    <p>
                        Id sed nominati elaboraret concludaturque, his aliquid sapientem cu, errem offendit ad sit.
                    </p>
                </div>
            </div>
        </div><!-- end footer widgets --><!-- start footer bottom area -->
        <div id="fbottom">
            <div id="bottom-wrapper">
                <p class="copyright">
                    &#169; 2011 Aquitaine Ltd. All rights reserved. Created by <a href='http://goldenworks.ro'>Golden Works</a>.
                </p>
                <p class="backtop">
                    <a href="#backtop">back to top</a>
                </p>
            </div>
        </div><!-- end footer bottom area -->
    </div>
</div><!-- end footer -->