<table class="plainTable" style="width: 100%; height: 100%;">
    <tr>
        <td style="width: 80%; white-space: normal;" ng-style="primaryBackgroundStyle">
            <div style="margin-left: 40px; margin-right: 40px; margin-top: 10px;">
                <div font-control-panel></div>
                <div style="margin-top: 80px; margin-left: 50px; width: 640px;" ng-style="primaryTextStyle">
                    <span style="font-size: 24px; font-weight: normal; letter-spacing: 2px;">{{currentFont.name}}</span>
                    <div style="margin: 0; padding: 0; width: 100%">
                        <div style="padding: 0;">
                            <div>
                                <div>
                                    <div>
                                        <h1 ng-style="secondaryTextStyle">Typography</h1>
                                        <div>
                                            <p>{{currentFont.name}}. Hi and welcome to the typography page, along with different other elements that embed, separate or enhance the texts of this awesome theme.</p>
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                    <div>
                                        <h2 ng-style="secondaryTextStyle">This is heading 2</h2>
                                        <p>Ex aliquip suavitate nec, dico mundi sadipscing ea nec. Et has enim tractatos sententiae. Harum labore ne quo, recusabo consulatu in duo, vim agam voluptaria eu. Cu commodo ornatus molestiae mel, per at autem saepe hendrerit. In elit tantas eam.</p>
                                        <div class="line"></div>
                                        <h3 ng-style="secondaryTextStyle">This is heading 3</h3>
                                        <p>Ex aliquip suavitate nec, dico mundi sadipscing ea nec. Et has enim tractatos sententiae. Harum labore ne quo, recusabo consulatu in duo, vim agam voluptaria eu. Cu commodo ornatus molestiae mel, per at autem saepe hendrerit. In elit tantas eam.</p>
                                        <div class="line"></div>
                                        <h4 ng-style="secondaryTextStyle">This is heading 4</h4>
                                        <p>Ex aliquip suavitate nec, dico mundi sadipscing ea nec. Et has enim tractatos sententiae. Harum labore ne quo, recusabo consulatu in duo, vim agam voluptaria eu. Cu commodo ornatus molestiae mel, per at autem saepe hendrerit. In elit tantas eam.</p>
                                        <div class="line"></div>
                                        <h5 ng-style="secondaryTextStyle">This is heading 5</h5>
                                        <p>Ex aliquip suavitate nec, dico mundi sadipscing ea nec. Et has enim tractatos sententiae. Harum labore ne quo, recusabo consulatu in duo, vim agam voluptaria eu. Cu commodo ornatus molestiae mel, per at autem saepe hendrerit. In elit tantas eam.</p>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </td>
        <td style="width: 20%;" ng-style="shadowBackgroundStyle"></td>
    </tr>
</table>