<style>
    p {
        font-size: 14px;
    }

    h1, h2, h3, h4, h5, h6 {
        color: white;
        font-weight: normal;
    }

    h3 {
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 10px;
    }


    body {
        background-color: #008DD0;
        color: #00476E;
    }
</style>
<table class="plainTable">
    <tbody>
        <tr>
            <td style="vertical-align: top; white-space: normal;">
                <div style="margin-top: 80px; margin-left: 50px; width: 640px;">
                    <div font-control-panel></div>
                    <span style="font-size: 24px; font-weight: normal; letter-spacing: 2px;">{{currentFont.name}}</span>
                    <div style="margin: 0px; padding: 0px; background-color: #008DD0; width: 100%">
                        <div style="padding: 0px;">
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="inner-content">
                                        <h3>Typography</h3>
                                        <p>Ex aliquip suavitate nec, dico mundi sadipscing ea nec. Et has enim tractatos sententiae. Harum labore ne quo, recusabo consulatu in duo, vim agam voluptaria eu. Cu commodo ornatus molestiae mel, per at autem saepe hendrerit. In elit tantas eam.</p>
                                        <p>Ex aliquip suavitate nec, dico mundi sadipscing ea nec. Et has enim tractatos sententiae. Harum labore ne quo, recusabo consulatu in duo, vim agam voluptaria eu. Cu commodo ornatus molestiae mel, per at autem saepe hendrerit. In elit tantas eam.</p>
                                        <p>Ex aliquip suavitate nec, dico mundi sadipscing ea nec. Et has enim tractatos sententiae. Harum labore ne quo, recusabo consulatu in duo, vim agam voluptaria eu. Cu commodo ornatus molestiae mel, per at autem saepe hendrerit. In elit tantas eam.</p>
                                        <div class="line"></div>
                                        <h3>This is a heading</h3>
                                        <p>Ex aliquip suavitate nec, dico mundi sadipscing ea nec. Et has enim tractatos sententiae. Harum labore ne quo, recusabo consulatu in duo, vim agam voluptaria eu. Cu commodo ornatus molestiae mel, per at autem saepe hendrerit. In elit tantas eam.</p>
                                        <p>Ex aliquip suavitate nec, dico mundi sadipscing ea nec. Et has enim tractatos sententiae. Harum labore ne quo, recusabo consulatu in duo, vim agam voluptaria eu. Cu commodo ornatus molestiae mel, per at autem saepe hendrerit. In elit tantas eam.</p>
                                        <p>Ex aliquip suavitate nec, dico mundi sadipscing ea nec. Et has enim tractatos sententiae. Harum labore ne quo, recusabo consulatu in duo, vim agam voluptaria eu. Cu commodo ornatus molestiae mel, per at autem saepe hendrerit. In elit tantas eam.</p>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
