body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-style:   normal;
    font-weight:  normal;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:  400;
}

.emphasized {
    text-shadow: #00476E 2px 2px 2px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-right: 12px;
}

.menu, .menu a {
    font-family: 'Lucida Sans Unicode', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
}

.textfont {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}

select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(../images/select-arrow.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    -moz-use-system-font: false;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
